/* Global */
/* PXTB Gray #334049
PANTONE 7408 Yellow #F6BE00 */

.main {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 50px;
  padding-left: 1%;
  padding-right: 1%;
  color: #334049;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  padding-top: 5%;
  color: #334049;
}

.about-me-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  padding-top: 5%;
  color: #334049;
  border-bottom: #334049;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-top: 5%;
  color: #334049;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #334049;
}

/* * HEADER Component */
.Container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-flow: row nowrap;
}

.headerItems {
  max-width: auto;
  height: 300px;
  align-content: center;
  margin-right: -15px;
}

img {
  padding-top: 5em;
  height: 200px;
}

.address,
.logo,
.phoneNumber {
  font-family: "Montserrat", sans-serif;
  color: #334049;
  font-weight: 600;
  font-size: 10pt;
  text-align: center;
  align-self: flex-end;
  padding-bottom: 1em;
}

/* NAVBAR Component */
.links {
  font-family: "Montserrat", sans-serif;
  color: #334049;
}

.mainImg {
  text-align: center;
  padding-right: 2%;
  padding-top: 0;
  padding-bottom: 5%;
  margin-top: 10px;
}

/* Filler Component */
.filler {
  min-height: 20px;
}

/* FOOTER Component */
.footer {
  position: sticky;
  text-align: left;
  width: 100%;
  height: 150px;
  border-top: #334049;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 5%;
}

.grimaldoMedia {
  /* font-family: "Montserrat", sans-serif; */
  color: #334049;
  font-size: 12px;
}

.socialMedia {
  text-align: right;
  color: #334049;
}

.services-thumbnails {
  max-width: 100%;
  max-height: auto;
  padding-top: 55px;
  margin-top: 0;
}

.figure.swatch-cards {
  flex-wrap: wrap;
  align-content: flex-start;
  flex-basis: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  justify-content: space-evenly;
}

.row {
  justify-content: center;
}

.as-logos {
  width: 280px;
  padding-top: 10px;
}

.as-logos2 {
  width: 150px;
  height: auto;
  padding: 5%;
  margin-top: -50px;
}

.photo-banner {
  width: 100%;
  margin-bottom: 3%;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbs {
  width: 200px;
  height: 200px;
  justify-content: center;
  padding-top: 20px;
  object-fit: cover;
  object-position: center;
}

hr.rounded {
  border-top: 1px solid #334049;
  border-radius: 5px;
  margin-top: 60px;
}
